.cabecalho {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #008cff;
}

.cabecalho h1 {
    display: flex;
    font-size: 2em;
    color: #fff;
    padding: 2%;
}

.cabecalho img {
    width: 15%;
    max-width: 15%;
    display: block;
    padding: 2%;
}

.cabecalho nav {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 10% 0;
}

.cabecalho a:hover {
    background-color: #fff;
    color: #008cff;
}