.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #6dbafac0;
}

.rodape img {
    max-width: 10%;
    display: block;
    margin: 0 auto;
}

.rodape nav {
    display: flex;
    justify-content: space-around;
}

.rodape a {
    padding: 5%;
}

.rodape a:hover {
    background-color: #0000008b;
}